@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stretchRight {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

@keyframes stretchTopRight {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 0);
    }
}

@keyframes stretchDownRight {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 0);
    }
}

@keyframes stretchDown {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}