.qa-wrp,
.java-wrp,
.dot-net-wrp,
.events-wrp,
.blog-wrp,
.contacts-wrp {
    align-items: center;
    justify-content: center;
    color: var(--header-bg-color)
}

.content-overflow {
    overflow: auto;
}

.content-info {
    padding: 15px 10px;
}

.block-wrp {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.logo-block {
    display: flex;
    position: relative;
    grid-column: 1;
    grid-row: 1/5;
}

.logo-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.logo-wrp {
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.logo-wrp img {
    max-width: 50%;
    height: auto;
}

.logo-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);

}

.join-btn::-moz-focus-inner {
    border: 0;
}

.join-btn,
.join-btn:active,
.join-btn:focus {
    border: none;
    outline: none;
}

.join-btn {
    font-size: 1.2rem;
    border-radius: 3px;
    width: 100px;
    padding: 10px;
    background-color: rgb(48, 147, 247);
    color: white;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #0442a3;
}

.logo-block:hover .logo-inner {
    transform: rotateY(180deg);
}

.qa-block {
    display: flex;
    position: relative;
    grid-column: 1;
    grid-row: 5/-1;
}

.qa-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.qa-wrp {
    font-size: 7vw;
    background-color: #51bf76;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.qa-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    backface-visibility: hidden;
    font-weight: bold;
    background-color: white;
    transform: rotateY(180deg);
}

.qa-block:hover .qa-inner {
    transform: rotateY(180deg);
}

.js-block {
    display: flex;
    position: relative;
    grid-column: 2;
    grid-row: 1/7;
    perspective: 1000px;
}

.js-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.js-wrp {
    font-size: 8vw;
    font-weight: bold;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #f6cf68;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.js-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    font-weight: bold;
}

.js-block:hover .js-inner {
    transform: rotateY(180deg);
}

.java-block {
    display: flex;
    position: relative;
    grid-column: 2;
    grid-row: 7/-1;
    background-color: #e02b4c;
}

.java-wrp {
    font-size: 4rem;
    background-color: #e02b4c;
}

.java-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    font-weight: bold;
}

.java-block:hover .java-wrp {
    animation-name: stretchDown;
    animation-duration: 0.5s;
    transform-origin: 0% 100%;
    transform: scaleY(0);
}

.php-block {
    display: flex;
    position: relative;
    grid-column: 3/-1;
    grid-row: 1/4;
}

.php-wrp {
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-style: italic;
    background-color: #8893bf;
}

.php-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    font-weight: bold;
}

.php-block:hover .php-wrp {
    animation-name: stretchTopRight;
    animation-duration: 0.5s;
    transform-origin: 100% 0%;
    transform: scale(0, 1);
}

.dot-net-block {
    display: flex;
    position: relative;
    grid-column: 3;
    grid-row: 4/-1;
    font-size: 7vw;
}

.dot-net-wrp {
    background-color: #642077;
}

.dot-net-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 1rem;
    background-color: white;
    font-weight: bold;
}

.dot-net-block:hover .dot-net-wrp {
    animation-name: stretchDownRight;
    animation-duration: 0.5s;
    transform-origin: 100% 100%;
    transform: scale(0, 1);
}

.events-block:hover .events-wrp,
.blog-block:hover .blog-wrp,
.contacts-block:hover .contacts-wrp {
    animation-name: stretchRight;
    animation-duration: 0.5s;
    transform-origin: 100% 0%;
    transform: scaleX(0);
}

.events-block {
    display: flex;
    position: relative;
    grid-column: 4;
    grid-row: 4/6;
    font-size: 1.2vw;
}

.events-wrp {
    background-color: #2d99fe;
}

.events-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.blog-block {
    display: flex;
    position: relative;
    grid-column: 4;
    grid-row: 6/8;
    font-size: 1.2vw;
}

.blog-wrp {
    background-color: #0442a3;
}

.blog-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.contacts-block {
    display: flex;
    position: relative;
    grid-column: 4;
    grid-row: 8;
}

.contacts-wrp {
    background-color: #00265f;
}

.contacts-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.contacts-content img {
    cursor: pointer;
    margin: 10px;
    max-width: 15%;
    height: auto;
}

.contacts-content img:hover {

    filter: invert(51%) sepia(85%) saturate(3379%) hue-rotate(163deg) brightness(101%) contrast(85%);
}