header {
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--header-bg-color);
    animation-name: fadeDown;
    animation-duration: 1s;
    z-index: 20;
}

header .header-content {
    display: flex;
    padding: 10px 0;
    margin: 0 10vw;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.left-content {
    grid-row: 1;
}

.left-content .header-logo {
    max-width: 100%;
    height: auto;
}

.right-content {
    display: flex;
    grid-row: 1;
}