.messages-block {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.messages-block img {
    max-width: 100%;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(1991%) hue-rotate(4deg) brightness(102%) contrast(110%);
}

.message {
    display: flex;
    align-items: center;
    border-radius: 3px;
    opacity: 0.7;
    width: 200px;
    padding: 20px;
    margin: 10px;
    color: white;
}

.error-message {
    background-color: red;
}

.success-message {
    background-color: green;
}

.warning-message {
    background-color: goldenrod;

}

.info {
    margin-left: 10px;
}