.notification {
    cursor: pointer;
    margin-right: 25px;
    max-width: 100%;
    height: auto;
    opacity: 0.3;
}

.notification:hover {
    opacity: 0.7;
}

.navigation-wrp {
    position: relative;
}

.profile-info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fca049;
    font-size: 1.5rem;
    color: var(--header-bg-color);
    z-index: 1;
}

.show-menu-checkbox {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
}

.show-menu-checkbox:checked~.navigation {
    display: block;
}

.navigation {
    display: none;
    position: absolute;
    transform: translateY(100%);
    bottom: -5px;
    right: 0;
    background-color: var(--header-bg-color);
    box-shadow: 0 0 5px #d8d7d7;
    width: 150px;
    padding: 10px;
}

.user-name {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--user-name-style-color);
    color: var(--user-name-style-color);
}

.navigation-items {
    padding: 5px;
}

.profile-item,
.log-out-item {
    padding: 5px;
}

.profile-item:hover,
.log-out-item:hover {
    background-color: #ececec;
    cursor: pointer;
}