@import "animation.css";
@import "header.css";
@import "footer.css";
@import "content.css";
@import "profile.css";
@import "message.css";

* {
    margin: 0;
}

:root {
    --header-bg-color: #ffffff;
    --body-bg-color: #e6e6e6;
    --user-name-style-color: #8c8c8c;
}

body {
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--body-bg-color);
}

.content-wrp {
    display: grid;
    margin: 50px 10vw;
    height: 40vw;
    width: 80vw;
    grid-template-columns: 20vw 20vw 25vw 15vw;
    grid-template-rows: repeat(8, 5vw);
}


@media (max-width: 960px) {
    .content-wrp {
        display: grid;
        margin: 50px 5vw;
        height: 90vw;
        width: 90vw;
        grid-template-columns: 40vw 5vw 25vw 20vw;
        grid-template-rows: 17.5vw 17.5vw 10vw 22.5vw 22.5vw;
    }

    .logo-block {
        grid-column: 1;
        grid-row: 1/4;
    }

    .js-block {
        grid-column: 2/4;
        grid-row: 1/4;
        font-size: 5rem;
    }

    .events-block {
        grid-column: 4;
        grid-row: 1;
        font-size: 1.2rem;
    }

    .blog-block {
        grid-column: 4;
        grid-row: 2;
        font-size: 1.2rem;
    }

    .contacts-block {
        grid-column: 4;
        grid-row: 3;
        font-size: 1.2rem;
    }

    .java-block {
        grid-column: 1/3;
        grid-row: 4;
        font-size: 3rem;
    }

    .qa-block {
        grid-column: 1/3;
        grid-row: 5;
        font-size: 3rem;
    }

    .php-block {
        grid-column: 3/-1;
        grid-row: 4;
        font-size: 3rem;
    }

    .dot-net-block {
        grid-column: 3/-1;
        grid-row: 5;
        font-size: 3rem;
    }

    .contacts-content img {
        width: 30px;
    }

    .content-overflow  {
        font-size: 1.2rem;
        font-weight: bold;
    }

}